<p>
  Input Item ID:
  <input [(ngModel)]="itemID" type="number" placeholder="itemID" />
	<input (click)="update()" type="button" placeholder="update" value="Submit Query"/>
</p>
<div *ngIf="item$ | async as item;" class='item-details-table'>
  <div class='item-details-name'>
    <img src="{{ item.iconURL }}" ><br/>Icon: {{ item.iconURL }} Name: {{item.typeName}}
  </div>
  <div class='item-details-IDs'>
    ID: {{item.typeID}} GroupID: {{item.groupID}} RaceID: {{item.raceID}} marketGroupID: {{item.marketGroupID}}
  </div>
  <div class='item-details-description'>
    {{item.description}}
  </div>
  <div class='item-details-common-info'>
    Volume: {{item.volume}}
    Capacity: {{item.capacity}}
    Batch Size: {{item.portionSize}}
    Base Price: {{item.basePrice}}
  </div>
</div>
